@import 'theme-colors';

/*
* === BODY, APP BACKGROUND ETC. ===
*/
html, body {
  height: 100%;
}

.container {
  max-width: 1040px;
}

.app-background {
  background-color: var(--app-background-color);
}

.dynamic-title {
  color: var(--dynamic-title-color);
}

.dynamic-subtitle {
  color: var(--dynamic-subtitle-color);
  padding-top: 10px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1 {
  color: var(--dynamic-h1-color)
}
h2 {
  color: var(--dynamic-h2-color)
}
h3 {
  color: var(--dynamic-h3-color)
}
h4 {
  color: var(--dynamic-h4-color)
}
h5 {
  color: var(--dynamic-h5-color)
}
h6 {
  color: var(--dynamic-h6-color)
}

/*
* === THEME SWITCH ===
*/
input.theme-switch {
  display: none;
}

input.theme-switch + label {
  cursor: pointer;
}

input.theme-switch:not(:checked) + label:hover {
  cursor: pointer;
}

input.theme-switch + label:active,
input.theme-switch:checked + label {
  cursor: pointer;
}

/*
* === PAGES TRANSITIONS ===
*/
.route-enter-from,
.route-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.route-enter-active,
.route-leave-active {
  transition: all 0.15s ease;
}

.route-enter-to,
.route-leave-from {
  opacity: 1;
  transform: translateY(0);
}