@import "theme-colors";
@import "shape-intervals";

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*
* === BODY, APP BACKGROUND ETC. ===
*/
// So the background from #app doesn't get margin of 8px
body {
  margin: 0 !important;
}
html,
body {
  height: 100%;
}

.container {
  max-width: 1040px;
}

.app-background {
  //background-image: linear-gradient(139deg, var(--secondary-color) 36%, var(--tertiary-color) 200%);
  background-color: var(--app-background-color);
}

.dynamic-title {
  color: var(--dynamic-title-color);
}

.dynamic-subtitle {
  color: var(--dynamic-subtitle-color);
  padding-top: 10px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}

h1 {
  color: var(--dynamic-h1-color);
  margin-top: 0px;
  padding-top: 8px;
}

h2 {
  color: var(--dynamic-h2-color);
}
h3 {
  color: var(--dynamic-h3-color);
}
h4 {
  color: var(--dynamic-h4-color);
}
h5 {
  color: var(--dynamic-h5-color);
}
h6 {
  color: var(--dynamic-h6-color);
}
li {
  color: var(--dynamic-li-color);
}

/*
* === THEME SWITCH ===
*/
input.theme-switch {
  display: none;
}

input.theme-switch + label {
  cursor: pointer;
}

input.theme-switch:not(:checked) + label:hover {
  cursor: pointer;
}

input.theme-switch + label:active,
input.theme-switch:checked + label {
  cursor: pointer;
}

/*
* SLIDER 
*/
input[type="range"] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 15px;
  background-color: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 10px;
  margin: auto;
  transition: all 0.3s ease;
}
input[type="range"]:hover {
  background-color: var(--color-2);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  background-color: var(--color-3);
  border-radius: 30px;
  box-shadow: 0px 0px 3px var(--color-1);
  transition: all 0.5s ease;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--color-1);
}
input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 1px var(--color-2);
}
// * END SLIDER

/*
* === PAGES TRANSITIONS ===
*/
.route-enter-from,
.route-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.route-enter-active,
.route-leave-active {
  transition: all 0.15s ease;
}

.route-enter-to,
.route-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.slideDexterity {
  width: 50px;
  height: 10px;
  //background: var(--switch-background);
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.2);
  label {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -3px;
    left: -3px;
    cursor: pointer;
    background: #fcfff4;
    background: var(
      --switch-color
    ); // linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%)
    border-radius: 50px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
  }
  input[type="checkbox"] {
    visibility: hidden;
    &:checked + label {
      left: 37px;
    }
  }
}
