// light to dark
// D8E3E7
// 51C4D3
// 126E82
// 132C33

:root {
  --app-background-color: #d8e3e7;
  /**
    * SIDEBAR
    */
  --sidebar-background: #132c33;
  --sidebar-icon: #126e82;
  --sidebar-icon-hover: #d8e3e7;
  --sidebar-text: #d8e3e7;
  /**
    * DIAGRAMS
    */
  --diagram-stroke: #126e82;
  --diagram-string: #126e82;
  --diagram-fret: #00000019;
  --diagram-finger: #126e82;
  --diagram-finger-indication: #d8e3e7;
  /**
    * FRETBOARD
    */
  --fretboard-reference-color: #7c27b4;
  --fretboard-string-color: #a8744d;
  --fretboard-fret-color: #707070;
  --fretboard-note-color: #0f267b;
  --fretboard-root-color: #ba2121;
  --fretboard-noteText-color: #EEEEEE;
  --fretboard-rootText-color: #EEEEEE;
  /**
    * TITLES
    */
  --dynamic-h1-color: #363636;
  --dynamic-h2-color: #363636;
  --dynamic-h3-color: #363636;
  --dynamic-h4-color: #363636;
  --dynamic-h5-color: #363636;
  --dynamic-h6-color: #363636;
  --dynamic-li-color: #363636;
  --dynamic-subtitle-color: #4a4a4a;
}

[theme="dark"] {
  --app-background-color: #132c33;
  /**
    * SIDEBAR
    */
  --sidebar-background: #132c33;
  --sidebar-icon: #126e82;
  --sidebar-icon-hover: #132c33;
  --sidebar-text: #132c33;
  /**
    * DIAGRAMS
    */
  --diagram-stroke: #d8e3e7;
  --diagram-string: #d8e3e7;
  --diagram-fret: #d8e3e719;
  --diagram-finger: #d8e3e7;
  --diagram-finger-indication: #132c33;
  /**
    * FRETBOARD
    */
    --fretboard-reference-color: #7c27b4;
    --fretboard-string-color: #a8744d;
    --fretboard-fret-color: #707070;
    --fretboard-note-color: #0f267b;
    --fretboard-root-color: #ba2121;
    --fretboard-noteText-color: #EEEEEE;
    --fretboard-rootText-color: #EEEEEE;
  /**
    * TITLES
    */
  --dynamic-h1-color: #d8e3e7;
  --dynamic-h2-color: #d8e3e7;
  --dynamic-h3-color: #d8e3e7;
  --dynamic-h4-color: #d8e3e7;
  --dynamic-h5-color: #d8e3e7;
  --dynamic-h6-color: #d8e3e7;
  --dynamic-li-color: #d8e3e7;
  --dynamic-subtitle-color: cyan;
}
