/**
* TODO
* is it necessary to repeat colors in dark when it doesnt change?
*/

// below is from signal chain sketches in dart
// Whites
// final BrokenWhite = const Color(0xfff7f7f7);

// // Colors
// final CrimsonRed = const Color(0xffDC143C);
// final CrimsonRedFaded = const Color(0x55DC143C);
// final Teal = const Color(0xff64dcef);
// final TealFaded = const Color(0x5564dcef);
// //final LightTeal = const Color(0xff);

// // Greys
// final LightGrey = const Color(0xff3f3f3f);
// final MediumGrey = const Color(0xff2f2f2f);
// final DarkGrey = const Color(0xff1f1f1f);
// final DarkestkGrey = const Color(0xff0f0f0f);

// //------------------------------------------

// // XOTIC
// final XoticWhite = const Color(0xfff0f0f0); // GDY

:root {
  // light to dark
  --primary-color: #d8e3e7;
  --secondary-color: #51C4D3;
  --tertiary-color: #126E82;
  --quaternary-color: #132C33;
  
  --app-background-color: var(--primary-color);
  /**
    * SIDEBAR
    */
  --sidebar-background: var(--quaternary-color);
  --sidebar-icon: var(--tertiary-color);
  --sidebar-icon-hover: var(--primary-color);
  --sidebar-text: var(--primary-color);
  /**
    * DIAGRAMS
    */
  --diagram-stroke: var(--tertiary-color);
  --diagram-string: var(--tertiary-color);
  --diagram-fret: #00000019;
  --diagram-finger: var(--tertiary-color);
  --diagram-finger-indication: var(--primary-color);
  /**
    * FRETBOARD
    */
  --fretboard-reference-color: var(--quaternary-color); // #7c27b4;
  --fretboard-string-color: var(--tertiary-color); // #a8744d;
  --fretboard-fret-color: #00000019; //#707070;
  --fretboard-note-color: #0f267b;
  --fretboard-root-color: #ba2121;
  --fretboard-noteText-color: #eeeeee;
  --fretboard-rootText-color: #eeeeee;
  /**
    * TITLES
    */
  --dynamic-h1-color: #363636;
  --dynamic-h2-color: #363636;
  --dynamic-h3-color: #363636;
  --dynamic-h4-color: #363636;
  --dynamic-h5-color: #363636;
  --dynamic-h6-color: #363636;
  --dynamic-li-color: #363636;
  --dynamic-subtitle-color: #4a4a4a;
  /**
    * Items
    */
  --switch-background-left: var(--secondary-color);
  --switch-background-right: var(--quaternary-color);
  --switch-color: var(--tertiary-color);
  --button-color: var(--tertiary-color);
  --button-hover-color: var(--secondary-color);
}

[theme="dark"] {
  --app-background-color: var(--quaternary-color);
  /**
    * SIDEBAR
    */
  --sidebar-background: var(--quaternary-color);
  --sidebar-icon: var(--tertiary-color);
  --sidebar-icon-hover: var(--quaternary-color);
  --sidebar-text: var(--quaternary-color);
  /**
    * DIAGRAMS
    */
  --diagram-stroke: var(--primary-color);
  --diagram-string: var(--primary-color);
  --diagram-fret: #d8e3e719; //0.25 en base 10 = 19 en base 16
  --diagram-finger: var(--primary-color);
  --diagram-finger-indication: var(--quaternary-color);
  /**
    * FRETBOARD
    */
  --fretboard-reference-color: var(--primary-color);
  --fretboard-string-color: var(--primary-color); // #a8744d;
  --fretboard-fret-color: var(--primary-color)19; // #707070;
  --fretboard-note-color: #0f267b;
  --fretboard-root-color: #ba2121;
  --fretboard-noteText-color: #eeeeee;
  --fretboard-rootText-color: #eeeeee;
  /**
    * TITLES
    */
  --dynamic-h1-color: var(--primary-color);
  --dynamic-h2-color: var(--primary-color);
  --dynamic-h3-color: var(--primary-color);
  --dynamic-h4-color: var(--primary-color);
  --dynamic-h5-color: var(--primary-color);
  --dynamic-h6-color: var(--primary-color);
  --dynamic-li-color: var(--primary-color);
  --dynamic-subtitle-color: cyan;
  /**
    * Items
    */
  --switch-background-left: var(--secondary-color);
  --switch-background-right: var(--quaternary-color);
  --switch-color: var(--tertiary-color);
  --button-hover-color: var(--secondary-color);
}
